[submodule "2023/blog-web"]
	path = 2023/blog-web
	url = git@github.com:huangrx6/personal-blog.git
	branch = main

[submodule "2024/blog-web-v2"]
	path = 2024/blog-web-v2
	url = git@github.com:huangrx6/personal-blog.git
	branch = main

[submodule "2026/blog-2026-mod-cartoon"]
	path = 2026/blog-2026-mod-cartoon
	url = git@github.com:huangrx6/personal-blog.git
	branch = main
