.blogItem-wrap {
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.blogItem-cover-container {
    position: relative;
    width: 100%;
}

.blogItem-cover-container::before {
    content: "";
    display: block;
    padding-bottom: 66.7%; /* 1.5 times the width */
}

.blogItem-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 0.5rem;
}

.blogItem-wrap h4 {
    flex: 1;
    margin: 1rem 0;
}

.blogItem-desc {
    position: relative;
    max-height: 50px;
    overflow: hidden;
    padding-right: 0.6rem;
    font-size: 0.8rem;
    color: var(--white-219-60);

    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.blogItem-wrap footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogItem-link {
    text-decoration: none;
    color: inherit;
}

.blogItem-link:hover {
    cursor: pointer;
}

.blogItem-author {
    display: flex;
    align-items: center;
}

.blogItem-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem;
}

.blogItem-author p {
    font-size: 0.6rem;
    color: var(--white-219-60);
    font-weight: 600;
}

.blogItem-link a {
    text-decoration: none;
    color: inherit;
}
