.images {
  background-color: var(--black-1b);
  overflow: hidden;
}

.images-body {
  width: 100%;
  min-height: 100vh;
  padding: var(--padding-td);
}

.images-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: var(--padding-lr);
}

.images-item {
  position: relative;
  width: 30rem;
  padding: 1rem;
}

.images-item > .images-item-top {
  flex: 1 1 calc(20% - 20px);
  display: block;
}

.images-item > .images-item-top > img {
  width: 100%;
  object-fit: cover
}

.images-item .ant-card-cover {
  height: 400px;
  overflow: hidden;
}

.images-item .ant-card-cover img {
  object-fit: cover;
  height: 100%;
}

.images-acquire-more {
  margin-left: 10vw;
  margin-bottom: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding: 2rem 0;
  background: linear-gradient(318deg, rgb(72, 118, 252) 0%, rgb(69, 165, 249) 50%, rgb(62, 202, 242) 100%) !important;
}

.images-items-card-action-span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
