.about_me_section {
    display: flex;
    flex-direction: column;
    padding: 12vh 15vw;
    min-height: 100vh;
}

.about_me_section_title,
.about_me_section_subtitle {
    text-align: center;
}

.about_me_section_title {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: normal;
}

.about_me_section_subtitle {
    padding-bottom: 5rem;
    font-size: 1.2rem;
    color: var(--white-219-60);
}

.about_me_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4vw;
    align-items: center;
}

.about_me_info {
    display: grid;
    grid-template-columns: repeat(2, 21vw);
    gap: 2vw;
}

.about_me_info_box {
    background-color: var(--black-1b);
    border-radius: 1rem;
    padding: 3rem 1rem;
    border: 1px solid var(--white-219-30);
    text-align: center;
}

.about_me_info_subtitle {
    color: rgba(var(--black-46) 0.3);
}

.about_me_description {
    color: var(--white-219-60);
    margin: 2rem 0 3rem 0;
    max-width: 34vw;
}

.about_me_container_img {
    width: 100%;
    border-radius: 1.5rem;
    justify-self: right;
}

.about_me_section a {
    text-decoration: none;
    color: initial;
}

.about_me_download_button {
    display: inline-flex;
    background-color: var(--white);
    color: var(--black-1b);
    padding: 1.25rem 1.5rem;
    border-radius: 1rem;
    font-weight: 500;
    align-items: center;
    gap: 1rem;
}

.about_me_download_button span {
    color: var(--black-1b);
}

.about_me_download_button:hover {
    background-color: var(--blue);
}

@media screen and (max-width: 1500px) {
    .about_me_section {
        padding: 12vh 6vw;
    }

    .about_me_info {
        display: grid;
        grid-template-columns: repeat(3, 18vw);
        gap: 1vw;
    }

    .about_me_info_box {
        margin-bottom: 3rem;
        padding: 1.8rem 1rem;
    }

    .about_me_description {
        margin-bottom: 1.5rem;
        max-width: 38vw;
    }

    .about_me_section_title {
        font-size: 2rem;
    }

    .about_me_section_subtitle {
        font-size: 1rem;
        padding-bottom: 3rem;
    }

    .about_me_download_button {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .about_me_section {
        gap: 0.5rem;
        overflow: auto;
        height: auto;
    }

    .about_me_container {
        display: flex;
        flex-direction: column;
    }

    .about_me_info {
        grid-template-columns: repeat(3, 28vw);
        gap: 2vw;
        margin-top: 1rem;
    }

    .about_me_info_box {
        margin-bottom: 2rem;
        padding: 1rem 1rem;
    }

    .about_me_description {
        margin-bottom: 1rem;
        max-width: 100%;
        font-size: 0.2rem;
    }

    .about_me_section_title {
        font-size: 2rem;
    }

    .about_me_section_subtitle {
        padding-bottom: 1rem;
        font-size: 1rem;
    }

    .about_me_container_img {
        width: 300px;
    }

    .about_me_info_title {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .about_me_info_subtitle {
        font-size: 0.5rem;
    }


    .about_me_container_data {
        text-align: center;
    }
}