@import "../../style.css";

.categories {

}

.categories-container {
    background: var(--black-1b);
    text-align: center;
    min-height: 100vh;
    padding: var(--padding-td) var(--padding-lr);
}

.categories-container-item {
    width: 70%;
    min-height: 30vh;
    margin: 3rem auto;
    border-radius: 1rem;
    border: 1px solid rgb(156, 163, 175, 0.4);
    padding: 2rem 0;
    overflow: hidden;

    background-color: white;
    box-shadow: inset 0 0 1px rgba(0, 0, 0);
}

.categories .custom-btn {
    min-width: 72px;
    line-height: 0;
    white-space: nowrap;
    margin: 10px 10px;
    padding: 19px 14px;
    overflow: hidden;

    color: black;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5),
    2px 2px 2px rgba(255, 255, 255, .5);
    outline: none;
    border: none;

    font-family: var(--zhuziawan);
    font-weight: 500;
}

.categories .custom-btn:hover {
    box-shadow: none;
    background-color: var(--blue) !important;
    color: white;
}

.categories .custom-btn-span {
    color: rgba(220, 23, 58, 0.75);
    font-weight: bold;
}

.categories-chart-polar {
    margin: auto;
    width: 50% !important;
    height: 50% !important;
}

@media screen and (max-width: 768px) {
    .categories-container-item {
        width: 100%;
    }

    .categories-chart-polar {
        margin: auto;
        width: 100% !important;
        height: 100% !important;
    }
}
