.about_service_section a {
    text-decoration: none;
    color: initial;
}

.about_service_section ul,
.about_service_section ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about_service_section li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about_service_section h3 {
    margin: 0;
    font-weight: normal;
}

.about_service_section {
    display: flex;
    flex-direction: column;
    padding: 12vh 15vw;
    min-height: 100vh;
}

.about_service_section_title,
.about_service_section_subtitle {
    text-align: center;
}

.about_service_section_title {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: normal;
}

.about_service_section_subtitle {
    padding-bottom: 5rem;
    font-size: 1.2rem;
    color: var(--white-219-60);
}

.about_service_containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
}

.about_service_title {
    font-weight: 600 !important;
    margin-top: 1rem !important;
    font-size: 1.25rem;
}

.about_service_model_title {
    font-weight: 600 !important;
    margin-top: 1rem !important;
}

.about_service_container {
    position: relative;
    background-color: var(--black-1b);
    border: 1px solid var(--white-219-30);
    border-radius: 1rem;
    padding: 10rem 0 6rem 2.5rem;
}

.about_service_content svg {
    color: var(--white-219-30);
    font-size: 1.5rem;
}

.about_service_button {
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    color: var(--white-219-30);
    cursor: pointer;
}

.about_service_button svg {
    transition: .3s;
}

.about_service_container:hover .about_service_button svg {
    transform: translateX(0.25rem);
}

.about_service_model {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--white-fa);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.about_service_model_active {
    opacity: 1;
    visibility: visible;
}

.about_service_modal_content {
    width: 500px;
    height: 800px;
    position: relative;
    background-color: var(--black-1b);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 5px;
    border: 1px solid var(--white-219-30);
    overflow-y: auto;
}

.about_service_modal_content::-webkit-scrollbar {
    width: 1px;
}
.about_service_modal_content::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
}
.about_service_modal_content::-webkit-scrollbar-track {
    background-color: transparent;
}

.about_service_modal_content_close {
    display: flex;
    justify-content: flex-end;
}

.about_service_modal_content_close:hover {
    color: var(--blue);
}

.about_service_model_title {
    font-size: 1.5rem;
}

.about_service_model_service {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    gap: 1rem;
}

.about_service_model_description {
    line-height: 1.5rem;
}

.about_service_model_service svg {
    width: 24px;
    height: 24px;
}

.about_service_model_info {
    flex-grow: 1;
}

.about_service_model_service_button {
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.about_service_model_service_button:hover {
    cursor: pointer;
    color: var(--blue);
}

@media screen and (max-width: 1500px) {
    .about_service_container {
        position: relative;
        border: 1px solid var(--white-219-30);
        padding: 6rem 0 2rem 2.5rem;
    }

    .about_service_section_title {
        font-size: 2rem;
    }

    .about_service_section_subtitle {
        font-size: 1rem;
        padding-bottom: 3rem;
    }

    .about_service_modal_content {
        height: 600px;
    }
}

@media screen and (max-width: 768px) {
    .about_service_section {
        gap: 0.5rem;
        overflow: auto;
        height: auto;
    }

    .about_service_section_title {
        font-size: 2rem;
    }

    .about_service_section_subtitle {
        padding-bottom: 1rem;
        font-size: 1rem;
    }

    .about_service_containers {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 550px) {
    .about_service_containers {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .about_service_modal_content {
        padding: 3rem 1.5rem 1.5rem;
        border-radius: 1rem;
        width: 350px;
        height: 500px;
    }

    .about_service_model_service {
        font-size: 0.8rem;
    }
}