.blogList-wrap {
  width: 80%;
  padding: 3rem 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--padding-td);
}

@media (max-width: 992px) {
  .blogList-wrap {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 768px) {
  .blogList-wrap {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
