@import "../../style.css";


.custom-timeline {
    min-height: 100vh;
    padding: var(--padding-td);
    background-color: var(--black-1b);
    color: var(--white);
    font-family: var(--zhuziawan);
}

.custom-timeline-column {
    padding: 0 0 4em 0;
}

.custom-timeline-title {
    text-align: center;
    margin-bottom: 3rem;
    padding: var(--padding-lr) 0;
    border-bottom: 1px solid var(--white);
}

.custom-timeline-title-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;

    padding: 2rem 0;
}

.custom-timeline-time-lottie {
    justify-self: end;
}

.custom-timeline-title-header > h2 {
    font-size: 3rem;
    justify-self: start;
    filter: drop-shadow(0 3px 0 var(--red-f80));
}

.custom-timeline-time-lottie > div {
    height: 6rem;
    width: 6rem;
}

.custom-timeline-title p {
    margin: 0 auto;
    font-size: 16px;
    max-width: 400px;
    line-height: 2;
}

.custom-timeline-body {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.custom-timeline-body h1, .custom-timeline-body h2, .custom-timeline-body h3, .custom-timeline-body h4, .custom-timeline-body h5, .custom-timeline-body h6 {
    line-height: inherit;
}

.custom-timeline-item {
    min-width: 65%;
    max-width: 65%;
    margin: 0 auto;
    display: flex;
    /*justify-content: center;*/
}

.timeline-item-glass {
    position: relative;
    margin-left: 3.2rem;

    background: var(--black-1d);
    border: 1px solid rgb(156, 163, 175, 0.4);
    border-radius: 1rem;
    padding: var(--padding-lr);
    margin-bottom: var(--padding-lr);
}

.timeline-item-glass::before {
    /*content: "";*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgb(39, 42, 49, 0.8);*/
    /*filter: blur(80px);*/
}

.custom-timeline-item:last-child {
    padding-bottom: 0;
}

.custom-timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.custom-timeline-marker:before {
    background: var(--red-f80);
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 0.8rem;
    position: absolute;
    top: 4px;
    left: -2.8rem;
    width: 0.8rem;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.custom-timeline-marker:after {
    content: "";
    width: 0.2rem;
    background: var(--white-219-60);
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: -2.4rem;
}

.custom-timeline-content {
    padding-bottom: var(--padding-td);
}

.custom-timeline-content p {
    /*margin-bottom: 0;*/
    line-height: 2;
}

.period {
    padding: 0;
    position: relative;
}

.period-timeline-info {
    display: none;
}

.period-timeline-marker:before {
    background: transparent;
    content: "";
    width: 1.6rem;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid var(--white-219-60);
    border-bottom: 3px solid var(--white-219-60);
}

.period-timeline-content {
    padding: 40px 0 70px;
}

.period-timeline-title {
    margin: 0;
}

.custom-timeline-content img {
    width: 45%;
    margin-top: 20px;
}

.timeline-pagination {
    padding: 3rem 0;
    margin: 0 auto;

    text-align: center;
    color: white !important;
}

.ant-pagination, .ant-pagination-item a, .ant-pagination-item-link, .ant-pagination-item-ellipsis {
    color: var(--white) !important;
}

.ant-pagination-item-active {
    background: none !important;
}

.custom-timeline-item-illustration {
    width: 50%;
}

@media only screen and (max-width: 990px) {


    .custom-timeline-item {
        margin: 0;
        min-width: 100%;
        max-width: 100%;
    }

    .custom-timeline-item-illustration {
        width: 100%;
    }

    .custom-timeline-title-header > h2 {
        font-size: 2rem;
    }
}
