@import "../../style.css";


.navigation {
    width: 100%;
    overflow-y: auto;
    padding: 0 10rem;
    background-color: var(--black-1b);
    color: var(--white);
    min-height: 100vh;
}

.navigation-container {

}

.navigation-body {
    padding: 3.8rem 0;
}

.navigation-title {
    font-size: 1rem;
    position: relative;
    color: var(--white);
    align-items: center;
    display: flex;
    gap: 1rem;
}

.navigation-body-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin: 0 auto;
}


.navigation-body-item .ant-card {
    /*margin: 15px 15px 0 15px;*/
    /*animation-name: slideInUp;*/
    /*animation-duration: 0.5s;*/
    /*animation-timing-function: ease-out;*/
    /*animation-fill-mode: both;*/
    transition: transform 0.5s;
}

/*缩放效果*/
.navigation-body-item .ant-card:hover {
    transform: scale(1.05);
}

.navigation-body-item a {
    text-decoration: none;
}

/*上滑效果*/
@keyframes slideInUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.ant-card-meta-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.navigation-body-item .ant-card-meta-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

@media screen and (max-width: 1400px) {
    .navigation {
        padding: 0 5rem;
    }
}

@media screen and (max-width: 768px) {
    .navigation {
        padding: 0 2rem;
    }
}
